[submodule "experimental/tonic-example"]
	path = experimental/tonic-example
	url = git@github.com:chloebrett/tonic-example.git
	branch = update-deps
[submodule "experimental/trunk"]
	path = experimental/trunk
	url = git@github.com:trunk-rs/trunk.git
[submodule "experimental/grpc-web"]
	path = experimental/grpc-web
	url = git@github.com:grpc/grpc-web.git
[submodule "experimental/wasm-bindgen"]
	path = experimental/wasm-bindgen
	url = git@github.com:rustwasm/wasm-bindgen.git
[submodule "experimental/leptos"]
	path = experimental/leptos
	url = git@github.com:leptos-rs/leptos.git
[submodule "experimental/eframe_template"]
	path = experimental/eframe_template
	url = git@github.com:emilk/eframe_template.git
